<div>
  <h1>Bulk Insert</h1>
  <br/>

  <%= form_with(url: bulkinserts_path, method: :post) do |form| %>
    <div data-controller="bulkinsert">
      <div data-bulkinsert-target="container">

      </div>

      <template data-bulkinsert-target="template">
        <div>
          <%= render partial: 'employee_fields', locals: {f: form} %>
        </div>
      </template>
      <button type="button" data-action="click->bulkinsert#addEmployee" class="btn btn-success">Add Row</button>
    </div>

    </br>
    <%= form.submit 'Bulk Insert Employees', class: "btn btn-primary" %>
    <% end %>
</div>