<div class="container-fluid">
  <header class="bg-danger text-white text-center p-2">
    <h2 class="bi bi-cart">Shopping Cart Demo</h2>
  </header>
  <div class="row mt-2">
    <div class=col-md-2>
      <div>
        <label class="form-label">Select a Category</label>
        <div>
          <%= select_tag(:category, options_for_select(@categories), class: "form-select category-dropdown") %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-wrap overflow-auto product-list" style="height: 550px;">
        <%= render partial: 'product' %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <button class="btn btn-danger w-100">
          <span class="bi bi-cart2"></span>
          <span class="cart_count"></span> Your Shopping Cart Items
        </button>
      </div>
      <div class="mt-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Preview</th>
              <th>Price</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody class="cart-table">

          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-danger w-100">
          Total:
          <span class="total-count">0</span>
        </button>
      </div>
    </div>
  </div>
</div>